@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");
.app-con {
  font-family: "Montserrat";
  margin: 2rem 2.2rem;
  .content {
    p {
      font-size: 1.2rem;
    }
    display: flex;
    .instructions {
      padding-left: 2rem;
      li {
        margin-bottom: 0.5rem;
        font-weight: 600;
      }
      .samples {
        .gifs {
          display: flex;
          justify-content: space-evenly;
        }
      }
    }
  }
  .controls {
    margin-top: 1rem;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    i {
      font-size: 1.5rem;
      cursor: pointer;
      &:hover {
        color: rgb(100, 100, 100);
      }
    }
    button {
      background-color: black;
      border: none;
      color: white;
      font-family: "Montserrat";
      font-weight: 600;
      padding: 0.3rem;
      &:hover {
        background-color: rgb(100, 100, 100);
        cursor: pointer;
      }
    }
  }
  .speed {
    text-align: center;
    width: 50%;
  }
}
